{% extends "layout.html" %}
{% block content %}
    <script>
        function url_mutation(id){
            var value = document.getElementById('capital('+id+')').value;
            var url = document.getElementById('capital('+id+')').dataset.path+"&capital="+value;
            document.getElementById('change('+id+')').href= url;
        } 
        

    </script>

    <h1> Welcome {{ current_user.username }}!</h1>
    You currently hold the following portfolios
    {% for portfolio in portfolios %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('portfolio', portfolio_id =portfolio.id) }}">{{ portfolio.name }}</a>
            </div>
            <p class="article-content">Capital On Hand: {{ portfolio.capital }}</p>
            Set New Capital Amount: <input type="number", id="capital({{ portfolio.id }})", data-path="{{ url_for('edit_portfolio', portfolio_id=portfolio.id, command='change_capital')}}", onchange="url_mutation('{{ portfolio.id }}');"> 
            <a href="{{ url_for('edit_portfolio', portfolio_id=portfolio.id, command='change_capital', capital=portfolio.capital) }}", id= "change({{ portfolio.id }})">
                <button>Change</button>
            </a>
            <br>
            <br>
            <a href="{{ url_for('edit_portfolio', portfolio_id=portfolio.id, command='delete') }}">
                <button>Delete Portfolio</button>
            </a>
          </div>
        </article>
    {% endfor %}
    <div class="border-top pt-3">
        <small class="text-muted">
            Need A Portfolio? <a class="ml-2" href="{{ url_for('create_portfolio') }}"> Create a Portfolio! </a>
        </small>
    </div>
{% endblock content %}
