{% extends "layout.html" %}
{% block content %}
<div class="col-md-4">
 		Deleted from lines 59 to 71
          <div class="content-section">
            <h3>Our Sidebar is dead</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
		</div> 		

{% endblock content %}